

.powernexus{
    background-color: #D9D9D9;
}

.nexusrun{
    background-color: #D9D9D9;
}

.CabecalhoNexusRun{
    background-color: rgba(255, 2, 2, 0.83);
}

.CabecalhoPowerNexus{
    background-color: rgba(55, 0, 255, 0.83);
}

.Premiacao{
    color: rgba(87, 255, 109, 1);
}