@import url(../Components/footer.css);
@import url(../Components/header.css);

@font-face {
    font-family: 'Konkhmer';
    src: url(../../assets/Font/KonkhmerSleokchher-Regular.ttf);
}

@font-face {
    font-family: 'Poppins';
    src: url(../../assets/Font/Poppins-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
}

header{
    font-family: 'Poppins', sans-serif;
}