#slides-desktop{
    width: 300%;
    height: auto;
    transition: 2s;
}

.slide-desktop{
    width: 100%;
    position: relative;
}

.slide-desktop img{
    width: 100%;
    height: auto;
}

#slider-desktop input{
    display: none;
}

#radio1:checked ~ #slides-desktop {
    margin-left: 0%;
}
#radio2:checked ~ #slides-desktop {
    margin-left: -100%;
}
#radio3:checked ~ #slides-desktop {
    margin-left: -200%;
}

#card{
    animation: wave 3s ease-in-out infinite;
    height: 400px;
}


#card:nth-child(1) {
  animation-delay: 0s;
}

#card:nth-child(2) {
  animation-delay: 0.3s;
}

#card:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes wave {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
