#slides-desktop{
    width: 300%;
    height: auto;
    transition: 2s;
}

.slide-desktop{
    width: 100%;
    position: relative;
}

.slide-desktop img{
    width: 100%;
    height: auto;
}

#slider-desktop input{
    display: none;
}

#radio1:checked ~ #slides-desktop {
    margin-left: 0%;
}
#radio2:checked ~ #slides-desktop {
    margin-left: -100%;
}
#radio3:checked ~ #slides-desktop {
    margin-left: -200%;
}